.card {
    width: 300px;
    height: 300px;
    margin: 10px;
    background: rgb(255, 255, 255); 
    border-radius: 20px;
}

ul {   
    list-style-type: none;
    padding-left: 25px;
}

.ui {
    padding-top: 5px;
    text-align: center;
}

.cards_row{
    display: flex;
}

.text {
    padding: 10px;
    padding-left: 5px;
}

